body {
    background-color: darkblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
  }

  .topo {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: white;
  }

  .sub {
    color: white;
    text-align: center;
  }
  
  main {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
  }
  
  section, aside {
    width: 45%;
  }
  
  .conteiner {
    padding: 10px;
    text-align: center;
    background-color: white;
}
  
aside header {
padding: 10px;
text-align: center;
background-color: white;
}
  
  aside div {
    padding: 10px;
    text-align: center;
    background-color: white;
}

a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: darkblue;
}

/*finalização da primeira página*/

/*começo do banco de dados*/
